<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <title>Kate's Process Portfplio </title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div id="intro">
    <h1>The Process Portfplio</h1>
    <h2> of <u2>Kate Vragova</u2>. </h2>
  </div>
  <div id="centr">
    <p><img src="{% static 'images/1.jpeg' %}" height="533" width="400"></p>
  </div>
  <div id="about">
    <nav>
      <ul>
        <li><a href="#">About me</a>
          <ul class="widget-list">
            <li><a href="aboutme.html">Education</a></li>
            <li><a href="aboutme2.html">Mission</a></li>
            <li><a href="aboutme3.html">Portfolio</a></li>
          </ul>
        </li>
        <li><a href="#">My works</a>
          <ul>
            <li><a href="works.html">Photo</a></li>
            <li><a href="works2.html">Artworks</a></li>
          </ul>
        </li>
        <li><a href="order.html">Order</a></li>
        <li><a href="reviews.html">Reviews</a></li>
        <li><a href="contact.html">Contacts</a></li>
      </ul>
    </nav>
  </div>

  <div>
    <div id="centr">
      <h3><strong><u1>Make an order !!!</u1></strong></h3>
    <p class="in"><span class="font2">You can place an order by specifying your name, e-mail address.</span></p><br>
    <div class="container3">
      <form name="myForm" id="telegramForm" method="GET" class="contact-form" autocomplete="off"
          enctype="multipart/form-data">
          <p>
              <label for="name"><b>Name</b></label>
              <input type="text" name="name" id="name" placeholder="Enter your name" />
          </p>
          <p>
              <label for="email"><b>Enter your email address</b></label>
              <input type="text" name="email" id="email" placeholder="Enter your email address"></textarea>
          </p>
          <p>
            <label for="order"><b>Order</b></label>
            <input type="text" name="order" id="order" placeholder="Enter your order"></textarea>
        </p>
          <button id="btn" type="send" class="form__send">Send</button>
      </form>
        <div id="response"></div>
    </div>

    <div id="footer">
        <div>
            <a href="main.html">Back</a>
        </div>
    </div>
  </div>
</body>
</html>